# Byte-compiled Python files
__pycache__/
*.py[cod]
*.pyo
.pypirc

# Log files
*.log

# Virtual environments
env/
venv/
*.env

# Build artifacts
ReasonChain.egg-info/
reasonchain.egg-info/
build/
dist/

# Byte-compiled files
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
.DS_Store
Thumbs.db
*.swp

# IDE-specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test artifacts
coverage/
.tox/
.nox/
pytest_cache/
htmlcov/
*.cover
steps.txt
