# Include necessary files
include setup.py
include requirements.txt
include Readme.md
include LICENSE
include MANIFEST.in

# Include YAML and Markdown files
include reasonchain/rag/*.yaml
include reasonchain/rag/*.md

# Recursively include all necessary subdirectories
recursive-include reasonchain/rag/adapters *
recursive-include reasonchain/rag/charts *
recursive-include reasonchain/rag/document_extract *
recursive-include reasonchain/rag/embeddings *
recursive-include reasonchain/rag/llm_response *
recursive-include reasonchain/rag/vector *

# Recursively include Python files
recursive-include reasonchain *.py

# Exclude specific files
exclude vector_db_tesla.pkl
exclude vector_db_tesla.index
exclude steps.txt
exclude .pypirc
exclude .env

# Exclude unwanted directories
prune reasonchain/__pycache__
prune tests
prune examples
prune models
prune pdfs
